.app {
  font-family: 'Helvetica';
  font-size: 14px; }

.place {
  padding: 20px; }

.placeTitle {
  font-size: 20px; }

.placeSubTitle {
  font-size: 16px; }

.over {
  background-color: #dddddd;
  cursor: pointer; }

.btn {
  min-height: 30px;
  min-width: 100px;
  padding: 10px; }
